h2 {
    color: orange;
    background-color: slategray;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.paragraph{
    /* color: orange; */
    border: 2px dashed red;
}